@model DotNet.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Category Details</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <th>Category Name</th>
                        <td>@Html.DisplayFor(model => model.CategoryName)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>

