@using Microsoft.AspNetCore.Identity
@model IdentityRole

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Create Role</h2>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Name" class="form-control" id="roleName" placeholder="Role Name" aria-required="true" />
                            <label for="roleName">Role Name</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="d-grid gap-2 d-md-block text-center">
                            <button type="submit" class="btn btn-dark">Save</button>
                            <a href="javascript:history.go(-1)" class="btn btn-warning ms-2">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

