@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Welcome to My  Web App !</h1>
            <p class="text-center">Explore the main features and offerings.</p>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm d-flex flex-column h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Role based Login and Register</h5>
                    <p class="card-text flex-grow-1">Two types of Role</p>
                    <div>
                        <a href="#" class="btn btn-dark disabled">Admin</a>
                        <a href="#" class="btn btn-warning disabled">General</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm d-flex flex-column h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Role based Navbar</h5>
                    <p class="card-text flex-grow-1">Two types of Role</p>
                    <div>
                        <a href="#" class="btn btn-dark disabled">Admin</a>
                        <a href="#" class="btn btn-warning disabled">General</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm d-flex flex-column h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">CRUD Operation</h5>
                    <p class="card-text flex-grow-1">Into Two table</p>
                    <div>
                        <a href="#" class="btn btn-dark disabled">Category</a>
                        <a href="#" class="btn btn-warning disabled">Item</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm d-flex flex-column h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Duplicate Data Check</h5>
                    <p class="card-text flex-grow-1">For both table</p>
                    <div>
                        <a href="#" class="btn btn-dark disabled">Category</a>
                        <a href="#" class="btn btn-warning disabled">Item</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm d-flex flex-column h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Bulk Upload Option</h5>
                    <p class="card-text flex-grow-1">Any size of data can be upload using the excel file.</p>
                    <div>
                        <a href="#" class="btn btn-dark disabled">Category</a>
                        <a href="#" class="btn btn-warning disabled">Item</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm d-flex flex-column h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Server Upload </h5>
                    <p class="card-text flex-grow-1">Both Files</p>
                    <div>
                        <a href="#" class="btn btn-dark disabled">Image</a>
                        <a href="#" class="btn btn-warning disabled">Excel</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 7 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm d-flex flex-column h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Admin User</h5>
                    <p class="card-text flex-grow-1">Manage Both Table </p>
                    <div>
                        <a href="#" class="btn btn-dark disabled">Category</a>
                        <a href="#" class="btn btn-warning disabled">Item</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 8 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm d-flex flex-column h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">General User </h5>
                    <p class="card-text flex-grow-1">Manage Only</p>
                    <div>
                        <a href="#" class="btn btn-dark disabled">Item</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 9 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm d-flex flex-column h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Multiple Image Handling</h5>
                    <p class="card-text flex-grow-1">On</p>
                    <div>
                        <a href="#" class="btn btn-dark disabled">Item</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

