@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to My Web App !</h1>
            <p class="text-center">Explore the main features and offerings.</p>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Role based Authorization and Authentication.</h5>
                    <p class="card-text"> Two types of Role</p>
                    <a href="#" class="btn btn-dark">Admin </a>
                    <a href="#" class="btn btn-warning">General </a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Role based Navbar </h5>
                    <p class="card-text">Two types of Role</p>
                    <a href="#" class="btn btn-dark">Admin</a>
                    <a href="#" class="btn btn-warning">General </a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">CRUD Operation</h5>
                    <p class="card-text">Into Two table</p>
                    <a href="#" class="btn btn-dark">Category</a>
                    <a href="#" class="btn btn-warning">Item </a>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Bulk Upload Option</h5>
                    <p class="card-text">Any size of data can be upload using the excel file.</p>
                    <a href="#" class="btn btn-dark">Category</a>
                    <a href="#" class="btn btn-warning">Item </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Duplicate Check</h5>
                    <p class="card-text">For both table </p>
                    <a href="#" class="btn btn-dark">Category</a>
                    <a href="#" class="btn btn-warning">Item </a>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Multiple Image Handling</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-dark">Item</a>
                </div>
            </div>
        </div>

    </div>
</div>
